{extend name="admin@main"}

{block name='content'}
<div id="MenuEditor" class="layui-hide" style="width:1000px">

    <div class='mobile-preview pull-left notselect'>
        <div class='mobile-header'>公众号</div>
        <div class='mobile-body'></div>
        <ul class='mobile-footer'>
            <li class="parent-menu" style="{{getItemStyle(list)}}" ng-repeat="one in list">
                <a ng-click="setActiveItem(one)" ng-class="{true:'active'}[one.active]">
                    <i class="icon-sub" ng-if="one.sub_button.length>0"></i> <span ng-bind="one.name"></span>
                </a>
                <div class="sub-menu text-center" ng-if="one.active||one.show">
                    <ul>
                        <li ng-repeat="two in one.sub_button">
                            <a class="bottom-border" ng-click="setActiveItem(one,two)" ng-class="{true:'active'}[two.active]">
                                <span ng-bind="two.name"></span>
                            </a>
                        </li>
                        <li class="menu-add" ng-if="one.sub_button.length<5"><a ng-click="addItem(one.sub_button,false)"><i class="icon-add"></i></a></li>
                    </ul>
                    <i class="arrow arrow_out"></i>
                    <i class="arrow arrow_in"></i>
                </div>
            </li>
            <li class="parent-menu menu-add" style="{{getItemStyle(list)}}" ng-if="list.length<3">
                <a ng-click="addItem(list,true)"><i class="icon-add"></i></a>
            </li>
        </ul>
    </div>

    <div class="pull-left layui-card margin-left-10" style="border:1px solid #ccc;height:580px">
        <div class="layui-card-header layui-bg-gray text-center">菜单编辑</div>
        <div class="layui-card-body" style="padding-right: 80px!important;;width:500px">
            <form class="layui-form menu-form" autocomplete="off">
                <div class="layui-form-item margin-top-20">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-block">
                        <input required name="menu-name" ng-model="item.name" class="layui-input" placeholder="请输入菜单名称">
                        <span class="help-block">字数不超过13个汉字或40个字母</span>
                    </div>
                </div>
                <div class="layui-form-item margin-top-20" ng-if="!item.sub_button||item.sub_button.length<1">
                    <label class="layui-form-label label-required">菜单类型</label>
                    <div class="layui-input-block">
                        {foreach $menuTypes as $key => $type}
                        <label class="think-radio layui-elip"><input lay-ignore type="radio" ng-model="item.type" name="menu-type" value="{$key}"> {$type}</label>
                        {/foreach}
                    </div>
                </div>

                <div class="layui-form-item margin-top-20" ng-if="item.type==='customservice'">
                    <label class="layui-form-label">提示文字</label>
                    <div class="layui-input-block">
                        <textarea required class="layui-textarea" ng-model="item.content"></textarea>
                    </div>
                </div>

                <div class="layui-form-item margin-top-20" ng-if="item.type==='click'">
                    <label class="layui-form-label">匹配规则</label>
                    <div class="layui-input-block">
                        <select required ng-model="item.keys" ng-options="value.keys for value in keys" class="layui-select block full-width"></select>
                    </div>
                </div>

                <div class="layui-form-item margin-top-20" ng-if="item.type==='view'">
                    <label class="layui-form-label">跳转链接</label>
                    <div class="layui-input-block">
                        <textarea required class="layui-textarea" ng-model="item.url" placeholder="请输入跳转链接"></textarea>
                    </div>
                </div>

                <div ng-if="item.type==='miniprogram'">
                    <div class="layui-form-item margin-top-20">
                        <label class="layui-form-label">小程序链接</label>
                        <div class="layui-input-block">
                            <input type="text" required class="layui-input" ng-model="item.url" placeholder="请输入小程序链接">
                        </div>
                    </div>
                    <div class="layui-form-item margin-top-20">
                        <label class="layui-form-label">小程序APPID</label>
                        <div class="layui-input-block">
                            <input type="text" required class="layui-input" ng-model="item.appid" placeholder="请输入小程序APPID">
                        </div>
                    </div>
                    <div class="layui-form-item margin-top-20">
                        <label class="layui-form-label">小程序页面</label>
                        <div class="layui-input-block">
                            <input type="text" required class="layui-input" ng-model="item.pagepath" placeholder="请输入小程序页面">
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div style="clear:both"></div>
    <div class="text-center margin-top-20">
        <!--{if auth("wechat/menu/edit")}-->
        <button class="layui-btn menu-submit" ng-click="submit()">保存发布</button>
        <!--{/if}-->
        <!--{if auth("wechat/menu/cancel")}-->
        <button data-load='{:url("wechat/menu/cancel")}' class="layui-btn layui-btn-danger">取消发布</button>
        <!--{/if}-->
    </div>
</div>

<script>
    require(['angular'], function () {

        let $form = $('.menu-form').vali();
        let $vali = $form.vali().data('validate');

        $('#MenuEditor.layui-hide').removeClass('layui-hide');
        let app = angular.module("MenuEditor", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            $rootScope.item = {};
            $rootScope.list = [];
            $rootScope.keys = [];

            $.form.load('{:url("index")}', {output: 'json'}, 'get', function (ret) {
                $rootScope.$apply(function () {
                    $rootScope.keys = ret.data.keysdata || [];
                    $rootScope.list = ret.data.menudata || [{name: '请输入名称', type: 'click', sub_button: []}];
                    $rootScope.list[0].show = true;
                    $rootScope.list[0].active = true;
                    $rootScope.item = $rootScope.list[0];
                });
                return false;
            });

            // 动态计算宽度
            $rootScope.getItemStyle = function (list) {
                let count = list.length >= 3 ? 3 : (list.length + 1);
                return 'width:' + (100 / count) + '%';
            };

            // 增加菜单选项
            $rootScope.addItem = function (list, isSubMenu) {
                $vali.checkAllInput();
                if ($form.find('.validate-error').size() > 0) {
                    return $.msg.tips('表单验证不成功，请输入需要的内容！');
                }
                let item = {name: '请输入名称', type: 'click'};
                if (isSubMenu) item.sub_button = [];
                list.push(item);
            };

            // 切换当前选择状态
            $rootScope.setActiveItem = function (one, two) {
                for (let i in $rootScope.list) {
                    $rootScope.list[i].show = ($rootScope.list[i] === one);
                    $rootScope.list[i].active = two ? false : ($rootScope.list[i] === one);
                }
                for (let i in $rootScope.list) for (let j in $rootScope.list[i].sub_button) {
                    $rootScope.list[i].sub_button[j].active = ($rootScope.list[i].sub_button[j] === two)
                }
                $rootScope.item = two || one || {};
            };

            // 提交数据
            $rootScope.submit = function () {
                $vali.checkAllInput();
                if ($form.find('.validate-error').size() > 0) {
                    return $.msg.tips('表单验证不成功，请输入需要的内容！');
                }
                $.form.load('{:url("edit")}', {data: angular.toJson($rootScope.list)}, 'post');
            }
        }
    })
</script>

{/block}