{extend name='main'}

{block name='content'}

<div class="layui-header layui-bg-blue notselect">
    <a href="{:url('@')}" class="layui-logo">ThinkAdmin <sup>V4.0</sup></a>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        {foreach $menus as $oneMenu}
        <li class="layui-nav-item">
            <a data-menu-node="m-{$oneMenu.id}" data-open="{$oneMenu.url}">
                {notempty name='oneMenu.icon'}<span class='font-s13 {$oneMenu.icon}'></span>&nbsp;{/notempty}
                {$oneMenu.title|default=''}
            </a>
        </li>
        {/foreach}
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <dl class="layui-nav-child">
                <dd lay-unselect>
                    <a data-modal="{:url('admin/index/info',['id'=>session('user.id')])}">
                        <i class="layui-icon layui-icon-set-fill"></i> 基本资料
                    </a>
                </dd>
                <dd lay-unselect>
                    <a data-modal="{:url('admin/index/pass',['id'=>session('user.id')])}">
                        <i class="layui-icon layui-icon-component"></i> 安全设置
                    </a>
                </dd>
            </dl>
            <a><span><img src="http://t.cn/RCzsdCq" class="layui-nav-img"> {:session('user.username')}</span></a>
        </li>
        <li lay-unselect class="layui-nav-item">
            <a data-confirm="确定要退出登录吗？" data-load="{:url('admin/login/out')}">退出登录</a>
        </li>
    </ul>
</div>

<div class="layui-side layui-bg-black notselect">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree layui-nav-tree-top">
            <li class="layui-nav-item" lay-unselect="">
                <a class="text-center" data-target-tree>
                    <i class="layui-icon layui-icon-spread-left"></i>
                </a>
            </li>
        </ul>
        {foreach $menus as $oneMenu}
        <!--{notempty name='oneMenu.sub'}-->
        <ul class="layui-nav layui-nav-tree layui-hide" data-menu-layout="m-{$oneMenu.id}">
            {foreach $oneMenu.sub as $twoMenu}
            <!--{empty name='twoMenu.sub'}-->
            <li class="layui-nav-item">
                <a data-target-tips="{$twoMenu.title}" data-menu-node="m-{$oneMenu.id}-{$twoMenu.id}" data-open="{$twoMenu.url}">
                    <span class='nav-icon {$twoMenu.icon|default="layui-icon layui-icon-link"}'></span>
                    <span class="nav-text">{$twoMenu.title}</span>
                </a>
            </li>
            <!--{else}-->
            <li class="layui-nav-item" data-submenu-layout='m-{$oneMenu.id}-{$twoMenu.id}'>
                <a data-target-tips="{$twoMenu.title}">
                    <span class='nav-icon layui-hide {$twoMenu.icon|default="layui-icon layui-icon-link"}'></span>
                    <span class="nav-text">{$twoMenu.title}</span>
                </a>
                <dl class="layui-nav-child">
                    {foreach $twoMenu.sub as $thrMenu}
                    <dd>
                        <a data-target-tips="{$thrMenu.title}" data-open="{$thrMenu.url}" data-menu-node="m-{$oneMenu.id}-{$twoMenu.id}-{$thrMenu.id}">
                            <span class='{$thrMenu.icon|default="layui-icon layui-icon-link"}'></span>
                            <span class="nav-text">{$thrMenu.title}</span>
                        </a>
                    </dd>
                    {/foreach}
                </dl>
            </li>
            <!--{/empty}-->
            {/foreach}
        </ul>
        <!--{/notempty}-->
        {/foreach}
    </div>
</div>

<div class="layui-body layui-card">
    {notempty name='title'}
    <div class="layui-card-header">{$title|default=''}</div>
    {/notempty}
    <div class="layui-card-body"></div>
</div>

{/block}