{extend name='admin@main'}

{block name="content"}
<table class="layui-hide">
    <tbody id='add-item-tpl'>
    <tr>
        <td>
            <select name='prize_id[]' class="layui-select">
                {foreach $prizes as $prize}
                <option value="{$prize.id}">{$prize.title}</option>
                {/foreach}
            </select>
        </td>
        <td class="nowrap" style="width:120px">
            <input name="prize_num[]" onblur="this.value=parseInt(this.value)||1" value="{$x.num|default='1'}" class="layui-input">
        </td>
        <td class="nowrap" style="width:120px">
            <input name="prize_rate[]" onblur="this.value=(parseFloat(this.value)||0).toFixed(4)" value="{$x.rate|default='0.0001'}" class="layui-input border-0 inline-block">
            <span class="absolute font-s14" style='right:10px;width:39px;text-align:center;height:39px;line-height:39px;display:inline-block'>%</span>
        </td>
        <td class="nowrap text-center" style="width:100px">
            <a onclick="moveUp(this)" data-tips-text="上移" class="layui-btn layui-btn-xs layui-icon layui-icon-up"></a>
            <a onclick="moveDn(this)" data-tips-text="下移" class="layui-btn layui-btn-xs layui-icon layui-icon-down"></a>
            <a onclick="moveRm(this)" data-tips-text="移除" class="layui-btn layui-btn-danger layui-btn-xs layui-icon layui-icon-close"></a>
        </td>
    </tr>
    </tbody>
</table>

<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">活动图片</label>
            <div class="layui-input-block">
                <input type="hidden" name="logo" value='{$vo.logo|default=""}' class="layui-input">
                <script>$('[name=logo]').uploadOneImage()</script>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动名称</label>
            <div class="layui-input-block">
                <input name="title" value='{$vo.title|default=""}' autofocus required placeholder="请输入活动名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动奖品</label>
            <div class="layui-input-block">
                <table class="layui-table">
                    <thead>
                    <tr>
                        <th>奖品名称</th>
                        <th>奖品数量</th>
                        <th>中奖率(总概率100%)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="layui-bg-gray">
                    {foreach $selectPrizes as $pz}
                    <tr>
                        <td>
                            <select name='prize_id[]' class="layui-select">
                                {foreach $prizes as $prize}
                                {if $pz.prize_id eq $prize.id}
                                <option selected value="{$prize.id}">{$prize.title}</option>
                                {else}
                                <option value="{$prize.id}">{$prize.title}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </td>
                        <td class="nowrap" style="width:120px">
                            <input name="prize_num[]" onblur="this.value=parseInt(this.value)||1" value="{$pz.prize_num|default='1'}" class="layui-input">
                        </td>
                        <td class="nowrap" style="width:120px">
                            <input name="prize_rate[]" onblur="this.value=(parseFloat(this.value)||0).toFixed(4)" value="{$pz.prize_rate|default='0.0001'}" class="layui-input border-0 inline-block">
                            <span class="absolute font-s14" style='right:10px;width:39px;text-align:center;height:39px;line-height:39px;display:inline-block'>%</span>
                        </td>
                        <td class="nowrap text-center" style="width:100px">
                            <a onclick="moveUp(this)" data-tips-text="上移" class="layui-btn layui-btn-xs layui-icon layui-icon-up"></a>
                            <a onclick="moveDn(this)" data-tips-text="下移" class="layui-btn layui-btn-xs layui-icon layui-icon-down"></a>
                            <a onclick="moveRm(this)" data-tips-text="移除" class="layui-btn layui-btn-danger layui-btn-xs layui-icon layui-icon-close"></a>
                        </td>
                    </tr>
                    {/foreach}
                    <tr>
                        <td colspan="4"><a onclick="$(this).parents('tr').before($('#add-item-tpl').html()),form.render();" class="layui-btn layui-btn-xs">添加奖项</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">活动内容</label>
            <div class="layui-input-block">
                <input name="content" value='{$vo.content|default=""}' placeholder="请输入活动内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">抽奖描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入抽奖描述" class="layui-textarea" name="desc">{$vo.desc|default=""}</textarea>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <!--{notempty name='vo.id'}-->
        <input type='hidden' value='{$vo.id}' name='id'>
        <!--{/notempty}-->
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>
        window.form.render();

        require(['ckeditor'], function () {
            window.createEditor('[name=content]');
        });

        function moveRm(that) {
            $.msg.confirm('确定要移除这个选项吗?', function (index) {
                $(that).parents('tr').remove(), $.msg.close(index);
            })
        }

        function moveUp(that) {
            var $item = $(that).parents("tr");
            if ($item.index() > 0) $item.prev().before($item);
        }

        function moveDn(that) {
            var $item = $(that).parents("tr");
            if ($item.index() < $item.siblings('tr').size()) $item.next().after($item);
        }
    </script>
</form>
{/block}