<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">员工名称</label>
            <div class="layui-input-block">
                <input name="name" required value='{$vo.name|default=""}' placeholder="请输入门店名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">员工手机</label>
            <div class="layui-input-block">
                <input name="phone" required value='{$vo.phone|default=""}' placeholder="请输入员工手机" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">员工描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入门店描述" class="layui-textarea" name="content">{$vo.content|default=""}</textarea>
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <!--{notempty name='vo.id'}-->
        <input type='hidden' value='{$vo.id}' name='id'>
        <!--{/notempty}-->
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>
