{extend name='admin@main'}

{block name="button"}
<!--{if auth("store/door_user/del")}-->
<button data-action='{:url("del")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除门店</button>
<!--{/if}-->
{/block}

{block name="content"}
<table class="layui-table" lay-skin="line">
    <caption class="margin-bottom-10 text-left">{include file='goods/index_search'}</caption>
    <!--{notempty name='list'}-->
    <thead>
    <tr>
        <th class='list-table-check-td think-checkbox'><input data-auto-none data-check-target='.list-check-box' type='checkbox'></th>
        <th class='text-left nowrap'>门店信息</th>
        <th class='text-left nowrap'>员工信息</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <!--{/notempty}-->
    <tbody>
    <!--{foreach $list as $key=>$vo}-->
    <tr>
        <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
        <td class='text-left nowrap'>
            门店：{$vo.name|default=''}<br>
            地址：{$vo.address|default=''}
        </td>
        <td class='text-left nowrap'>
            姓名：{$vo.name|default=''}<br>
            手机：{$vo.phone|default=''}
        </td>
        <td class='text-left nowrap'>
            {eq name='vo.status' value='0'}<span class="layui-badge">已拒绝</span>{/eq}
            {eq name='vo.status' value='1'}<span class="layui-badge layui-bg-blue">待审核</span>{/eq}
            {eq name='vo.status' value='2'}<span class="layui-badge layui-bg-green">已审核</span>{/eq}
        </td>
        <td class='text-left nowrap'>

            {if auth("store/door_user/pass") and $vo.status eq '0'}
            <span class="text-explode">|</span>
            <a data-action="{:url('pass')}" data-value="id#{$vo.id};status#1">撤销拒绝</a>
            {/if}

            {if auth("store/door_user/pass") and $vo.status eq '1'}
            <span class="text-explode">|</span>
            <a data-action="{:url('pass')}" data-value="id#{$vo.id};status#2">审核通过</a>
            <span class="text-explode">|</span>
            <a data-action="{:url('pass')}" data-value="id#{$vo.id};status#0">拒绝审核</a>
            {/if}

            {if auth("store/door_user/pass") and $vo.status eq '2'}
            <span class="text-explode">|</span>
            <a data-action="{:url('pass')}" data-value="id#{$vo.id};status#1">撤销审核</a>
            {/if}

            {if auth("store/door_user/del")}
            <span class="text-explode">|</span>
            <a data-confirm="确定要删除数据吗?" data-action="{:url('del')}" data-value="id#{$vo.id}">删除</a>
            {/if}

        </td>
    </tr>
    <!--{/foreach}-->
    </tbody>
</table>

<!--{empty name='list'}-->
<blockquote class="layui-elem-quote border-0 text-center">没 有 记 录 哦！</blockquote>
<!--{else}-->
{$pagehtml|raw|default=''}
<!--{/empty}-->

{/block}