{extend name='admin@main'}

{block name="content"}
<table class="layui-table" lay-skin="line">
    <caption class="margin-bottom-10 text-left">{include file='member/index_search'}</caption>
    <!--{notempty name='list'}-->
    <thead>
    <tr>
        <th class='list-table-check-td think-checkbox'>
            <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
        </th>
        <th class='text-left nowrap'>会员信息</th>
        <th class='text-left nowrap'>会员状态</th>
        <th class='text-left nowrap'>绑定代理</th>
    </tr>
    </thead>
    <!--{/notempty}-->
    <tbody>
    <!--{foreach $list as $key=>$vo}-->
    <tr>
        <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
        <td class='text-left nowrap'>
            {notempty name='vo.headimg'}
            <img data-tips-image style="width:40px;height:40px;" src="{$vo.headimg|default=''}" class="pull-left margin-right-5">
            {/notempty}
            会员昵称：{$vo.nickname|default=''}<br>
            绑定手机：{$vo.phone|default=''}
        </td>
        <td class='text-left'>
            创建时间：{$vo.create_at}<br>
            入会产品：{if $vo.agent_auth}
            <span class="layui-badge">已购买入会礼包</span>
            {else}
            <span class="layui-badge layui-bg-gray">未购买入会礼包</span>
            {/if}
        </td>
        <td>
            代理昵称：{$vo.bind_agent.nickname|default='--'}
            <br>
            代理手机：{$vo.bind_agent.phone|default='--'}
            {notempty name='vo.bind_agent.phone'}
            {if $vo['agent_id'] > 0}
            <span class="layui-badge layui-bg-cyan margin-left-5">永久</span>
            {else}
            <span class="layui-badge layui-bg-blue margin-left-5">临时</span>
            {/if}
            {/notempty}
        </td>
    </tr>
    <!--{/foreach}-->
    </tbody>
</table>

<!--{empty name='list'}-->
<blockquote class="layui-elem-quote border-0 text-center">没 有 记 录 哦！</blockquote>
<!--{else}-->{$pagehtml|raw|default=''}<!--{/empty}-->
{/block}