{extend name='admin@main'}

{block name="button"}

<!--{if auth("store/door/add")}-->
<button data-modal='{:url("add")}' data-title="添加门店" class='layui-btn layui-btn-sm layui-btn-primary'>添加门店</button>
<!--{/if}-->

<!--{if auth("store/door/del")}-->
<button data-action='{:url("del")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除门店</button>
<!--{/if}-->

{/block}

{block name="content"}
<table class="layui-table" lay-skin="line">
    <caption class="margin-bottom-10 text-left">{include file='door/index_search'}</caption>
    <!--{notempty name='list'}-->
    <thead>
    <tr>
        <th class='list-table-check-td think-checkbox'>
            <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
        </th>
        <th class='list-table-sort-td'>
            <button type="button" data-reload class="layui-btn layui-btn-xs">刷 新</button>
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <!--{/notempty}-->
    <tbody>
    <!--{foreach $list as $key=>$vo}-->
    <tr>
        <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
        <td class='list-table-sort-td'><input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input"></td>
        <td class='text-left nowrap'>
            {notempty name='vo.logo'}
            <div class="background-image pull-left" data-tips-image="{$vo.logo}" style="background-image:url('{$vo.logo}')"></div>
            {/notempty}
            名称：{$vo.name|default=''}
            <span class="layui-badge layui-bg-cyan margin-left-5">{$vo.code}</span>
            {eq name='vo.status' value='0'}<span class="layui-badge margin-left-5">已停业</span>{else}
            <span class="layui-badge layui-bg-green margin-left-5">营业中</span>{/eq}
            <br>
            地址：{$vo.address|default=''}
        </td>
        <td class='text-left nowrap'>

            {if auth("store/door/edit")}
            <a class="layui-btn layui-btn-sm" data-title="编辑门店" data-modal='{:url("edit")}?id={$vo.id}'>编 辑</a>
            {/if}

            {if $vo.status eq 1 and auth("store/door/forbid")}
            <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0">停 业</a>
            {elseif auth("store/door/resume")}
            <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1">营 业</a>
            {/if}

            {if auth("store/door/del")}
            <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?" data-action="{:url('del')}" data-value="id#{$vo.id}">删 除</a>
            {/if}

        </td>
    </tr>
    <!--{/foreach}-->
    </tbody>
</table>

<!--{empty name='list'}-->
<blockquote class="layui-elem-quote border-0 text-center">没 有 记 录 哦！</blockquote>
<!--{else}-->
{$pagehtml|raw|default=''}
<!--{/empty}-->

{/block}