<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">卡券分类</label>
            <div class="layui-input-block">
                <select name="type" required class="layui-select">
                    {foreach $types as $type}
                    {if isset($vo.type) and $vo.type eq $type}
                    <option selected value="{$type}">{$type}</option>
                    {else}
                    <option value="{$type}">{$type}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">卡券名称</label>
            <div class="layui-input-block">
                <input name="name" required value='{$vo.name|default=""}' placeholder="请输入卡券名称" class="layui-input">
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label">销售价格</label>
                    <div class="layui-input-block">
                        <input name="price" onblur="this.value=(parseFloat(this.value)||0).toFixed(2)" required value='{$vo.price|default=""}' placeholder="请输入销售价格" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">卡券库存</label>
                    <div class="layui-input-block">
                        <input name="num_stock" onblur="this.value=parseInt(this.value)||0" required value='{$vo.num_stock|default=""}' placeholder="请输入卡券库存" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6">
                <div class="layui-form-item">
                    <label class="layui-form-label">失效日期</label>
                    <div class="layui-input-block">
                        <input name="effective_date" required value='{$vo.effective_date|default=""}' placeholder="请输入有效日期" class="layui-input">
                        <script>laydate.render({elem: '[name=effective_date]'});</script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">有效天数</label>
                    <div class="layui-input-block">
                        <input name="effective_days" onblur="this.value=parseInt(this.value)||0" required value='{$vo.effective_days|default=""}' placeholder="请输入有效天数" class="layui-input">
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">卡券背景</label>
            <div class="layui-input-block">
                <input name="bgimg" type="hidden" required value='{$vo.bgimg|default=""}' placeholder="请输入卡券名称" class="layui-input">
                <style>
                    [data-field="bgimg"] {
                        width: 20pc;
                        height: 10pc;
                        border: 1px solid #ccc;
                    }
                </style>
                <script>$('[name=bgimg]').uploadOneImage();</script>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">卡券描述</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入卡券描述" class="layui-textarea" name="content">{$vo.content|default=""}</textarea>
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <!--{notempty name='vo.id'}-->
        <input type='hidden' value='{$vo.id}' name='id'>
        <!--{/notempty}-->
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>
