{extend name="admin@main"}

{block name="content"}
<form onsubmit="return false;" data-auto="true" action="{:request()->url()}" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body" style="padding-left:40px">

        <label class="layui-form-item block relative">
            <span class="color-green font-s14">模板名称</span><span class="color-desc margin-left-5 font-s12">TemplateTitle</span>
            <input name="title" value="{$vo.title|default=''}" required placeholder="请输入邮费模板名称" class="layui-input">
            <span class="color-desc block">请尽量保持模板名称不重复，以方便在其他地方选择需要的邮费规则。</span>
        </label>

        <div data-item-container>
            {foreach $vo.list as $index=>$item} {include file='express_template/form_item'} {/foreach}
        </div>

        {empty name='is_default'}
        <div><a onclick="addRuleItem()" class="layui-btn layui-btn-sm layui-btn-primary">添加邮费规则</a></div>
        {/empty}

        <div class="hr-line-dashed"></div>

        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-history-back="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>

    </div>

</form>

<script>
    form.render();
    checkRuleItem();

    function delRuleItem(that) {
        $.msg.confirm('确定要移除这个邮费规则吗？', function (index) {
            $(that).parent('fieldset').remove(), $.msg.close(index);
            checkRuleItem();
        })
    }

    function addRuleItem() {
        this.itemIndex = $('[data-item-container] fieldset:last').attr('data-max-index') || -1;
        this.html = $('#template').html().replace(/\[index\]/gi, parseInt(this.itemIndex) + 1);
        $('[data-item-container]').append(this.html);
    }

    function checkRuleItem() {
        if ($('[data-item-container] fieldset').length < 1) {
            addRuleItem();
        }
    }

    $('input[type=checkbox][data-province-input]').on('change', function () {
        if (this.checked) {
            $('input[data-province-input][type=checkbox][value="' + this.value + '"]').not(this).map(function () {
                if (this.checked) $(this).trigger('click');
            });
        }
    });

</script>

{assign name='index' value='[index]'}
<div class="layui-hide" id="template">
    {include file='express_template/form_item'}
</div>
{/block}