<form onsubmit="return false;" data-auto="true" action="{:request()->url()}" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body" style="padding-left:40px">

        <label class="layui-form-item block relative">
            <span class="color-green font-s14">模板名称</span><i class="color-desc margin-left-5 font-s12">TemplateTitle</i>
            <input name="title" value="{$vo.title|default=''}" required placeholder="请输入邮费模板名称" class="layui-input">
            <span class="color-desc block">请尽量保持模板名称不重复，以方便在其他地方选择需要的邮费规则。</span>
        </label>

        <div class="layui-form-item block relative padding-bottom-10">
            <span class="color-green font-s14">配送订单满减</span>
            <span class="color-desc margin-left-5">TemplateOrderReduction</span>
            <table>
                <tr>
                    <td>
                        <div class="layui-input text-center" style="width:130px">
                            {php}isset($vo['order_reduction_state']) or $vo['order_reduction_state']=0;{/php}
                            {foreach ['0' => '关闭','1' => '开启'] as $k => $v}
                            <!--{eq name='vo.order_reduction_state' value='$k'}-->
                            <label class="think-radio"><input type="radio" value="{$k}" name="order_reduction_state" title="{$v}" checked lay-ignore> {$v}</label>
                            <!--{else}-->
                            <label class="think-radio"><input type="radio" value="{$k}" name="order_reduction_state" title="{$v}" lay-ignore> {$v}</label>
                            <!--{/eq}-->
                            {/foreach}
                        </div>
                    </td>
                    <td width='20px'></td>
                    <td>
                        <label class="text-center nowrap">
                            订单满
                            <input style="width:80px" class="layui-input inline-block text-center padding-left-0" name="order_reduction_price" data-blur-number="2" value="{$vo.order_reduction_price|default='0.00'}">
                            元免邮费
                        </label>
                    </td>
                </tr>
            </table>
            <span class="color-desc block">订单总金额达到这个金额时，将减免该订单的所有邮费，请谨慎配置。</span>
        </div>

        <div class="layui-form-item">
            <span class="color-green font-s14">配送规则配置</span>
            <span class="color-desc margin-left-5">TemplateAreaRule</span>
            {empty name='is_default'}
            <table class="layui-table" lay-skin="line">
                <tr class="layui-bg-gray">
                    <th class="text-center">
                        <label class="think-checkbox pull-left margin-top-0 notselect">
                            <input type="checkbox" data-check-target="[data-template-province]" lay-ignore>全选
                        </label>
                        <span>可配送区域　　　　</span>
                    </th>
                </tr>
                <tr>
                    <td>
                        {foreach $provinces as $p}
                        <label class="think-checkbox layui-elip" style="width:125px" data-tips-text="{$p}">
                            {if isset($vo.rule) and is_array($vo.rule) and in_array($p,$vo.rule)}
                            <input data-template-province checked type="checkbox" name="rule[]" value="{$p}" lay-ignore> {$p|default=''}
                            {else}
                            <input data-template-province type="checkbox" name="rule[]" value="{$p}" lay-ignore> {$p|default=''}
                            {/if}
                        </label>
                        {/foreach}
                    </td>
                </tr>
            </table>
            {else}
            <input type="hidden" name="is_default" value="1">
            {/empty}

            <table class="layui-table" lay-skin="line">
                <tr class="layui-bg-gray">
                    <th class="text-center" width="80px">首件（个）</th>
                    <th class="text-center" width="80px">运费（元）</th>
                    <th class="text-center" width="80px">续件（个）</th>
                    <th class="text-center" width="80px">续费（元）</th>
                </tr>
                <tr>
                    <td class="text-center">
                        <label>
                            <input name="first_number" value="{$vo.first_number|default=1}" data-blur-number="0" class="layui-input text-center padding-left-0">
                        </label>
                    </td>
                    <td class="text-center">
                        <label>
                            <input name="first_price" value="{$vo.first_price|default='0.00'}" data-blur-number="2" class="layui-input text-center padding-left-0">
                        </label>
                    </td>
                    <td class="text-center">
                        <label>
                            <input name="next_number" value="{$vo.next_number|default=1}" data-blur-number="0" class="layui-input text-center padding-left-0">
                        </label>
                    </td>
                    <td class="text-center">
                        <label>
                            <input name="next_price" value="{$vo.next_price|default='0.00'}" data-blur-number="2" class="layui-input text-center padding-left-0">
                        </label>
                    </td>
                </tr>
            </table>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="layui-form-item text-center">
            {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}
            <button class="layui-btn" type='submit'>保存数据</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
        </div>

    </div>
    <script>form.render()</script>
</form>