{extend name='main'}

{block name="button"}
<!--{if auth("admin/auth/add")}-->
<button data-modal='{:url("add")}' data-title="添加权限" class='layui-btn layui-btn-sm layui-btn-primary'>添加权限</button>
<!--{/if}-->

<!--{if auth("admin/auth/del")}-->
<button data-action='{:url("del")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除权限</button>
<!--{/if}-->
{/block}

{block name="content"}
<!-- 表单搜索 开始 -->
<fieldset>
    <legend>列表搜索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-inline">
                <input name="title" value="{$Think.get.title|default=''}" placeholder="请输入权限名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">权限描述</label>
            <div class="layui-input-inline">
                <input name="desc" value="{$Think.get.desc|default=''}" placeholder="请输入权限描述" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">使用状态</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    {foreach [''=>'-- 全部 --','0'=>'已禁用的权限','1'=>'使用中的权限'] as $k=>$v}
                    {eq name='Think.get.status' value='$k.""'}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/eq}
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input name="create_at" value="{$Think.get.create_at|default=''}" placeholder="请选择创建时间" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>

<script>
    window.form.render();
    window.laydate.render({range: true, elem: '[name="create_at"]'});
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    <!--{if empty($list)}-->
    <blockquote class="layui-elem-quote">没 有 记 录 哦！</blockquote>
    <!--{else}-->
    <input type="hidden" value="resort" name="action">
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='list-table-sort-td'>
                <button type="submit" class="layui-btn layui-btn-xs">排 序</button>
            </th>
            <th class='text-left'>名称</th>
            <th class='text-left'>描述</th>
            <th class='text-left'>时间</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <!--{foreach $list as $key=>$vo}-->
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='list-table-sort-td'>
                <input name="_{$vo.id}" value="{$vo.sort}" class="list-sort-input">
            </td>
            <td class='text-left'>{$vo.title}</td>
            <td class='text-left'>{$vo.desc|default="<span class='color-desc'>没有写描述哦！</span>"}</td>
            <td class="text-left nowrap">{$vo.create_at|format_datetime}</td>
            <td class='text-center'>
                {eq name='vo.status' value='0'}
                <span class="layui-badge">已禁用</span>
                {else}
                <span class="layui-badge layui-bg-green">使用中</span>
                {/eq}
            </td>
            <td class='text-center nowrap'>

                {if auth("admin/auth/edit")}
                <span class="text-explode">|</span>
                <a data-title="编辑权限" data-modal='{:url("admin/auth/edit")}?id={$vo.id}'>编辑</a>
                {/if}

                {if auth("admin/auth/apply")}
                <span class="text-explode">|</span>
                <a data-open='{:url("admin/auth/apply")}?id={$vo.id}'>授权</a>
                {/if}

                {if $vo.status eq 1 and auth("admin/auth/forbid")}
                <span class="text-explode">|</span>
                <a data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0">禁用</a>
                {elseif auth("admin/auth/resume")}
                <span class="text-explode">|</span>
                <a data-action="{:url('resume')}" data-value="id#{$vo.id};status#1">启用</a>
                {/if}

                {if auth("admin/auth/del")}
                <span class="text-explode">|</span>
                <a data-confirm="确定要删除数据吗?" data-action="{:url('del')}" data-value="id#{$vo.id}">删除</a>
                {/if}

            </td>
        </tr>
        <!--{/foreach}-->
        </tbody>
    </table>
    {$pagehtml|default=''|raw}
    <!--{/if}-->
</form>
{/block}