{extend name="admin@main"}

{block name="content"}

<div class="layui-tab layui-tab-card" style="background:#fff">
    <ul class="layui-tab-title notselect">
        <li data-type='store-config-type-params'>商城参数设置</li>
        <li data-type="store-config-type-sms">商城短信设置</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item">{include file='config/index-store-config'}</div>
        <div class="layui-tab-item">{include file='config/index-store-sms'}</div>
    </div>
</div>

<script>
    $(function () {

        $('.layui-tab ul.layui-tab-title li').on('click', function () {
            layui.data('store-config-type', {key: 'type', value: this.getAttribute('data-type')});
        });

        (new function () {
            this.selectedType = layui.data('store-config-type')['type'] || '';
            this.selectedItem = $('.layui-tab ul.layui-tab-title li[data-type="' + this.selectedType + '"]');
            if (this.selectedItem.length < 1) this.selectedItem = $('.layui-tab ul.layui-tab-title li:first');
            this.selectedItem.trigger('click');
        });
    });
</script>


{/block}
