{extend name="admin@main"}

{block name="content"}

<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li data-wechat-type="api">普通接口强制绑定</li>
        <li data-wechat-type="thr">第三方授权模式</li>
        <li data-wechat-type="thr">接口功能测试</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item padding-top-20">{include file='config/options_api'}</div>
        <div class="layui-tab-item padding-top-20">{include file='config/options_thr'}</div>
        <div class="layui-tab-item padding-top-20 layui-clear">
            <div class="pull-left padding-right-15 notselect">
                <img class="notselect" data-tips-image src="{:url('@wechat/api.tools/oauth_qrc')}" style="width:120px">
                <p class="text-center" style="margin-left:-10px">网页授权</p>
            </div>
            <div class="pull-left padding-left-0 padding-right-15">
                <img class="notselect" data-tips-image src="{:url('@wechat/api.tools/jssdk_qrc')}" style="width:120px;">
                <p class="text-center">JSSDK签名</p>
            </div>
            <div class="pull-left padding-left-0 padding-right-15">
                <img class="notselect" data-tips-image src="{:url('@wechat/api.tools/jsapiqrc')}" style="width:120px;">
                <p class="text-center">JSAPI支付</p>
            </div>
            <div class="pull-left padding-left-0 padding-right-15">
                <img class="notselect" data-tips-image src="{:url('@wechat/api.tools/scanoneqrc')}" style="width:120px;">
                <p class="text-center">扫码支付①</p>
            </div>
            <div class="pull-left padding-left-0">
                <img class="notselect" data-tips-image src="{:url('@wechat/api.tools/scanqrc')}" style="width:120px;">
                <p class="text-center">扫码支付②</p>
            </div>
        </div>
    </div>
</div>

{/block}

{block name='script'}
<script>
    $(function () {
        let type = '{:sysconf("wechat_type")}' || 'api';
        $('[data-wechat-type=' + type + ']').trigger('click');
    });
</script>
{/block}
