{extend name='admin@main'}

{block name="button"}

{if auth("admin/user/add")}
<button data-modal='{:url("add")}' data-title="添加用户" class='layui-btn layui-btn-sm layui-btn-primary'>添加用户</button>
{/if}

{if auth("admin/user/del")}
<button data-action='{:url("del")}' data-rule="id#{key}" data-confirm="确定要删除这些用户吗？" class='layui-btn layui-btn-sm layui-btn-primary'>删除用户</button>
{/if}

{/block}

{block name="content"}
<table class="layui-table" lay-skin="line">
    <caption class="margin-bottom-10 text-left">{include file='luckdraw_member_record/index_search'}</caption>
    {notempty name='list'}
    <thead>
    <tr>
        <th class='list-table-check-td think-checkbox'>
            <input data-auto-none="" data-check-target='.list-check-box' type='checkbox'>
        </th>
        <th class='text-left nowrap' style="width:120px">中奖人</th>
        <th class='text-left nowrap' style="width:180px">奖品信息</th>
        <th class='text-left nowrap' style="width:120px">中奖时间</th>
        <th class='text-left nowrap' style="width:150px">最后登录</th>
        <th class='text-left nowrap'></th>
    </tr>
    </thead>
    {/notempty}
    <tbody>
    {foreach $list as $key=>$vo}
    <tr>
        <td class='list-table-check-td think-checkbox'>
            <input class="list-check-box" value='{$vo.id}' type='checkbox'>
        </td>
        <td class='text-left nowrap'>{$vo.username|default=''}</td>
        <td class='text-left nowrap'>{$vo.prize_title|default=''}（{$vo.prize_level|default=''}）</td>
        <td class='text-left nowrap'>

        </td>
        <td class='text-left nowrap'>

        </td>
        <td class='text-left nowrap'>

        </td>
    </tr>
    {/foreach}
    </tbody>
</table>

{empty name='list'}
<blockquote class="layui-elem-quote border-0 text-center">没 有 记 录 哦！</blockquote>
{else}
{$pagehtml|raw|default=''}
{/empty}

{/block}