{extend name="main"}

{block name="content"}
<form onsubmit="return false;" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">Storage<br><span class="nowrap color-desc">存储引擎</span></label>
            <div class="layui-input-block">
                {foreach ['local'=>'本地服务器存储','qiniu'=>'七牛云存储','oss'=>'阿里云OSS存储'] as $k=>$v}
                <label class="think-radio">
                    <!--{if sysconf('storage_type') eq $k}-->
                    <input checked type="radio" name="storage_type" value="{$k}" title="{$v}" lay-ignore>
                    <!--{else}-->
                    <input type="radio" name="storage_type" value="{$k}" title="{$v}" lay-ignore>
                    <!--{/if}-->
                    {$v}
                </label>
                {/foreach}
                <div class="help-block" data-storage-type="local">
                    文件存储在本地服务器，请确保服务器的 public/upload 目录有写入权限
                </div>
                <div class="help-block" data-storage-type="qiniu">
                    若还没有七牛云帐号，可<a target="_blank" href="https://portal.qiniu.com/signup?code=3lhz6nmnwbple">免费申请10G存储</a>，申请成功后添加公开bucket。
                </div>
                <div class="help-block" data-storage-type="oss">
                    若还没有OSS存储账号, 可<a target="_blank" href="https://oss.console.aliyun.com">创建阿里云OSS存储</a>，需要配置OSS公开访问及跨域策略（已实现自动创建）。
                </div>
            </div>
        </div>

        <div class="hr-line-dashed margin-left-40"></div>

        <!-- 本地文件配置 -->
        {include file='config/file_local'}

        <!-- 七牛云文件配置 -->
        {include file='config/file_qiniu'}

        <!-- 阿里云OSS文件配置 -->
        {include file='config/file_oss'}

        <div class="hr-line-dashed margin-left-40"></div>

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>

    </div>

</form>
{/block}

{block name="script"}
<script>
    (function () {
        form.render();
        buildForm('{:sysconf("storage_type")}');
        $('[name=storage_type]').on('click', function () {
            buildForm($('[name=storage_type]:checked').val())
        });

        // 表单显示编译
        function buildForm(value) {
            var $tips = $("[data-storage-type='" + value + "']");
            $("[data-storage-type]").not($tips.show()).hide();
        }
    })();
</script>
{/block}