{extend name="main"}

{block name="content"}

<div class="layui-tab layui-tab-card" style="background:#fff;max-width:1000px">
    <ul class="layui-tab-title notselect">
        <li data-type='website'>网站参数设置</li>
        <li data-type="storage">文件存储配置</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item">{include file='config/info-website'}</div>
        <div class="layui-tab-item">{include file='config/info-storage'}</div>
    </div>
</div>

<script>
    $(function () {

        $('.layui-tab ul.layui-tab-title li[data-type]').on('click', function () {
            layui.data('website-config-type', {key: 'type', value: this.getAttribute('data-type')});
        });
        (function (type, $checked, $default) {
            $default = $('.layui-tab ul.layui-tab-title li:first');
            $checked = $('.layui-tab ul.layui-tab-title li[data-type="' + type + '"]');
            ($checked.length > 0 ? $checked : $default).trigger('click');
        })(layui.data('website-config-type')['type'] || '');

        apply('{:sysconf("storage_type")}');
        form.render().on('radio(storage_type)', function (data) {
            apply(data.value);
        });

        function apply(value) {
            this.$active = $("[data-storagetype='" + value + "']").trigger('click');
            if (this.$active.size() < 1) $("[data-storagetype]:first").trigger('click');
            $('[data-type="' + value + '"]').show().siblings('[data-type]').hide();
        }

    });
</script>

{/block}