{extend name='admin@main'}

{block name="content"}
<form class="layui-form layui-card" id="GroupsForm" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>团购名称</h3>
            <label class="relative inline-block full-width">
                <input name="title" required value='{$vo.title|default=""}' placeholder="请输入团购名称" class="layui-input">
            </label>
        </div>


        <div class="layui-form-item">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>展示图片</h3>
            <table class="layui-table">
                <thead>
                <tr>
                    <th class="text-center">LOGO</th>
                    <th class="text-left">团购图片</th>
                </tr>
                <tr>
                    <td width="90px" class="text-center"><input name="logo" type="hidden" value="{$vo.logo|default=''}"></td>
                    <td width="auto" class="text-left"><input name="image" type="hidden" value="{$vo.image|default=''}"></td>
                </tr>
                </thead>
            </table>
            <script>
                $(function () {
                    $('[name="logo"]').uploadOneImage(), $('[name="image"]').uploadMultipleImage();
                });
            </script>
        </div>

        <div class="layui-form-item">
            <div class="inline-block margin-right-15">
                <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>拼团等待天数</h3>
                <label class="relative inline-block" style="width:200px">
                    <input name="wait_days" onblur="this.value=parseInt(this.value)||0" required value='{$vo.wait_days|default="1"}' placeholder="请输入等待天数" class="layui-input">
                </label>
            </div>
            <div class="inline-block margin-right-15">
                <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>拼团达成人数</h3>
                <label class="relative inline-block" style="width:200px">
                    <input name="num_people" onblur="this.value=parseInt(this.value)||0" required value='{$vo.num_people|default="1"}' placeholder="请输入拼团达成人数" class="layui-input">
                </label>
            </div>
            <div class="inline-block margin-right-15">
                <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>拼团销售价格</h3>
                <label class="relative inline-block" style="width:200px">
                    <input name="price" onblur="this.value=(parseFloat(this.value)||0).toFixed(2)" required value='{$vo.price|default="0"}' placeholder="请输入销售价格" class="layui-input">
                </label>
            </div>
            <div class="inline-block margin-right-15">
                <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>最大库存</h3>
                <label class="relative inline-block" style="width:200px">
                    <input name="num_stock" onblur="this.value=parseInt(this.value)||0" required value='{$vo.num_stock|default="0"}' placeholder="请输入最大库存" class="layui-input">
                </label>
            </div>
            <div class="inline-block margin-right-15">
                <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>虚拟销量</h3>
                <label class="relative inline-block" style="width:200px">
                    <input name="num_virtual" onblur="this.value=parseInt(this.value)||0" required value='{$vo.num_virtual|default="0"}' placeholder="请输入最大库存" class="layui-input">
                </label>
            </div>
        </div>

        <div class="layui-form-item">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>套餐卡券</h3>
            <a class="layui-btn" id="addMemberCard">添加卡券</a>
            <div data-member-container class="padding-top-10">
                <div class="member-card" ng-repeat="x in cards">
                    <img ng-src="{{x.bgimg}}" alt="bgimg">
                    <div class="member-card-name" ng-bind="x.name"></div>
                    <div class="member-card-price nowrap">
                        <input name="card_id[]" type="hidden" ng-model="x.id" value='{{x.id}}'>
                        <input name="card_price[]" type="hidden" ng-model="x.price" value='{{x.price}}'>
                        <input name="card_number[]" type="hidden" ng-model="x.number" value='{{x.number}}'>
                        套餐数量 <input onblur="this.value=parseInt(this.value)||0" value="{{x.number}}" ng-model="x.number"> 张，
                        零售价 <strong class="color-red" ng-bind="x.price"></strong> 元
                    </div>
                    <a ng-click="delCardItem(cards,$index)" data-tips-text="移除卡券" style="position:absolute;right:10px;top:10px;">
                        <i class="layui-icon layui-icon-close"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <h3 class="color-green"><sup class='color-red font-s14 absolute' style="margin-left:-10px">*</sup>团购内容</h3>
            <textarea placeholder="请输入团购内容" data-edit-content class="layui-textarea" name="content">{$vo.content|default=""}</textarea>
        </div>

    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <!--{notempty name='vo.id'}-->
        <input type='hidden' value='{$vo.id}' name='id'>
        <!--{/notempty}-->
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" onclick="history.back()">取消编辑</button>
    </div>
    <!--<script>window.form.render();</script>-->
</form>

{include file='groups/select_card'}

<script>
    require(['angular', 'ckeditor'], function () {
        window.createEditor('[name="content"]', {height: 500});
        let app = angular.module("GroupsForm", []).run(callback);
        angular.bootstrap(document.getElementById(app.name), [app.name]);

        function callback($rootScope) {
            $rootScope.cards = JSON.parse('{$VoCardList|json_encode|raw}');
            $rootScope.delCardItem = function (data, $index) {
                let temp = [];
                for (let i in data) if (parseInt(i) !== parseInt($index)) temp.push(data[i]);
                return $rootScope.cards = temp;
            };
            window.pushCard = function (card) {
                $rootScope.$apply(function () {
                    for (var i in $rootScope.cards) if (parseInt(card.id) === parseInt($rootScope.cards[i].id)) {
                        $rootScope.cards[i].number++;
                        return $.msg.tips("已经存在卡券【" + card.name + "】，只增加数量！");
                    }
                    $rootScope.cards.push(card)
                });
            };
        }
    });
    $(function () {
        $('#addMemberCard').on('click', function () {
            layer.open({
                anim: 2,
                title: '团购卡券选择',
                area: ['800px', '550px'],
                content: $('#SelectMemberCard').html(),
                yes: function (index, $element) {
                    $element.find('.member-card.active').map(function () {
                        window.pushCard({
                            number: 1,
                            id: $(this).attr('data-card-id'),
                            name: $(this).attr('data-card-name'),
                            price: $(this).attr('data-card-price'),
                            bgimg: $(this).attr('data-card-bgimg'),
                        });
                    }), layer.close(index);
                }
            });
        });
    })
</script>

{/block}